@keyframes circle
  0%
    transform: rotate(0)
  100%
    transform: rotate(360deg)

@keyframes huahuan
  0%
    transform: rotate(0) translate(50%, 50%)
  100%
    transform: rotate(360deg) translate(50%, 50%)